# Core
numpy
pandas
scipy
scikit-learn
matplotlib
# gensim

# Deep learning
# torch
# torchvision
tensorflow
# keras

# NLP / models
# transformers

# Image
imageio

# Compression
tensorflow-compression

# Notebook
ipykernel
jupyter
jupyterlab

# Optional useful
scikit-image